{
    email "stan@stan.bar"
}

tds.stellot.com {
    reverse_proxy stellot-tds:8080
}

ipfs.stellot.com {
    reverse_proxy stellot-ipfs:8080
}

emails.stellot.com {
    reverse_proxy stellot-emails-auth:8080
}

stellar.stellot.com {
    reverse_proxy stellot-stellar:8080
}
